extends layout

block content

	h1= title
	div.article
			div.created_at= article.created_at
			//div.title= article.title
			div.body= article.body
				a(href="/blog/"+article._id.toHexString()) Remove
			div.comment_wrapper
				- var i = -1
				- each comment in comments
					- ++i
					div(class=(i % 2 == 0) ? 'comment odd' : 'comment even')
						div.comment= comment.comment
						div.person= comment.person
			div
				form(method="post", action="/blog/addComment")
					input(type="hidden", name="_id", value=article._id.toHexString())
					div
						span Author :
						input(type="text", name="person", id="adCommentPerson")
					div
						span Comment : 
						textarea(name="comment", rows=5, id="addCommentComment")
					div#editArticleSubmit
						input(type="submit", value="Send")
